<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quiz Hub</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
<h1>Welcome to our site!</h1>

<div class="container">
  <ul class="nav bg-info">
    <li class="nav-item">
      <a class="nav-link link-light" href="/">Main</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-light" href="/allquestions">all questions</a>
    </li>
      <li class="nav-item">
      <a class="nav-link link-light" href="/quiz/1">quiz about poland</a>
    </li>
      <li class="nav-item">
      <a class="nav-link link-light" href="/login/">login</a>
    </li>
      <li class="nav-item">
      <a class="nav-link link-light" href="/logout/">logout</a>
    </li>
      <li class="nav-item">
      <a class="nav-link link-light" href="/register/">register user</a>
    </li>
  </ul>


{{ msg }}
{% block content %}
{% endblock %}
</body>
</html>
